* {
  margin: 0;
  padding: 0;
}
:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
}

body {
  font-family: 'Inter', sans-serif;
}
.App {
  height: 100vh;
  width: 100vw;
  background-image: url('/images/pattern-curve.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 5% auto 10%;
}
.container {
  display: grid;
  grid-row: 2;
  grid-column: 2;
  background-image: url('/images/pattern-bg.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  grid-template-columns: 1fr 1fr;
}
